.wrapper {
    width: 100%;
    top: 0;
    padding: 0;
    margin: 0 auto;
    position: relative;
    box-sizing: border-box;
}
.wrapper img, .wrapper iframe {
    max-width: 100%;
}
.header {
    width: 100%;
    height: auto;
    display: block;
    position: relative;
    margin: 0 auto;
}
